.sider{
    width: 100%;
    background-color: #020230;
    height: 90vh;

  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  .loader {
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: -50px auto 0;
    position: relative;
    color: #020230;
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloader 2s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: #020230;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
  }
  .loader::before {
    animation-delay: 0.4s;
    left: 60px;
  }
  
  @keyframes animloader {
    0% {
      top: 0;
      color: white;
    }
    50% {
      top: 30px;
      color: rgba(255, 255, 255, 0.2);
    }
    100% {
      top: 0;
      color: white;
    }
  }
      
  /* Contant code css */

  
  /* Feedback */

.Feedback{
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* width: 20%;
  height: 20%; */
  background: rgba(0, 0, 0, 0.8); /* Dark transparent background */
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.service-box {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.complete-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn:hover {
  background: #218838;
}